.list-group-item {
    color: black;
    display: flex;
    align-content: center;
    font-size: 1vw;

}

.badge {

    color: orangered,

}

span {
    cursor: pointer;
}

.strike {
    text-decoration: line-through;
    color: rgb(129, 129, 129);
}